@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* media */


@media (max-width:450px){
    .navbar li{
        margin-top: 8px;
        font-size: 8px;
    }
    #search{
        width: 130px;
    }
}

@media (max-width:375px){
    .navbar li{
        margin-top: 8px;
        font-size: 6.7px;
    }
    #search{
        width: 130px;
    }
}


